body {
  background-color: rgb(236, 252, 253);
  font-family: "Roboto", sans-serif;
}
h1 {
  text-align: center;
  color: black;
  margin: 2rem;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
form {
  background-color: rgb(246, 250, 255);
  width: 40rem;
  margin: auto;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgb(0, 0, 0, 0.2);
}
section {
  margin: 1rem;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
label {
  color: rgb(66, 76, 97);
  display: block;
  margin: 0.5rem 0;
}
input,
textarea,
select {
  font: inherit;
  padding: 0.5rem;
  border: 1px solid rgb(152, 159, 184);
  width: 100%;
  display: block;
  border-radius: 4px;
  box-sizing: border-box;
}
textarea {
    resize: none;
}
input:focus,textarea:focus {
    background-color: rgb(217,227,247);
}
button {
    font: inherit;
    border: 1px solid rgb(51,67,100);
    padding: 0.5rem 1.5rem;
    cursor: pointer;/*마우스가 버튼위에 올라갔을때 손가락모양으로 변환*/
}
#form-actions {
    text-align: right;
}
.but-filled {
    background-color: rgb(51,67,100);
    color: white;
}
.but-empty {
    background-color: transparent;/*배경이 없게하기*/
    color: rgb(51,67,100);
}
.but-filled:hover {
    background-color: rgb(69,89,129);
    border-color: rgb(69,89,129);
}
.but-empty:hover {
    background-color: rgb(208,215,230);
}

.inline-control {
    display: flex; /*라디오 옵션 정렬*/
}
.inline-control label {
    margin: 0;
    margin-left: 0.5rem;
}
.inline-control input {
    width: auto;
}
