html {
  --color-grey-100:#815353;/*변수 사용해서 미리 색상 지정가능*/
  --color-grey-400:rgb(134, 134, 134);/*개별로 바꿀필요없이 변수로 한번에 정리가능*/
  --color-grey-600:rgb(58, 58, 58);
  --color-grey-900:rgb(41, 41, 41);

  --color-primary-300:rgb(167, 226, 255);/*주색상(주로쓴는색)*/
  --color-primary-700:rgb(0, 170, 255);

  --size-1:18px;
  --size-5:50px;

  background-color: var(--color-grey-100);/*css 변수*/
  font-family: "Krub", sans-serif;
  font-weight: 400;
}

.card-container {
  background-color: rgb(255, 255, 255);
  width: 350px;
  margin: 50px auto;
  box-shadow: 3px 3px 10px rgb(201, 200, 200);
  transition: transform 2s ease-out 1s;/*속성,지속,타이밍,지연 = 전환방법 (크기가 점차 커진다)*/
}
.card-container:hover {
  transform: scale(1.10);/*마우스에 반응하여 변환 크기 10%증가 가 된다*/
  /* transform: rotate(180deg);각도에 따라 변환됨 */
}

/* h1:hover {
  transform: scale(1.10);변환은 하버 요소에 하고 전환은 기존요소에서 작업
} */

h1 {
  color: var(--color-grey-600);
  text-align: left;
  padding: 30px 50px 0px 50px;
  margin: 10px 0;
  font-family: "Zilla Slab", serif;
  font-weight: 600;
}

.card-info {
  color: var(--color-grey-400);
  text-align: left;
  padding: 0 50px;
  margin: 10px 0 30px 0;
}

.price {
  color: var(--color-grey-900);
  background-color: var(--color-primary-300);
  text-align: center;
  margin: 30px auto 10px auto;
  font-size: var(--size-5);
  font-weight: 600;/*폰트 설정 400 or 600*/
}

.price-info {
  color: var(--color-grey-400);
  text-align: center;
  margin: 10px 0 30px 0;
  padding: 0 50px;
}

.sub-details {
  width: 300px;
  margin: 30px 50px;
}

.sub-feature {
  display: flex;
}

.icon {
  display: flex;
  width: 15px;
}

.sub-feature-text {
  color: var(--color-grey-600);
  padding: 2px;
  margin: 5px;
}

.button-container {
  text-align: center;
  margin: 30px 0 0 0;
}

.button {
  color: var(--color-primary-700);
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  width: 70%;
  padding: 10px;
  margin: 0 0 30px 0;
  border: 2px solid rgb(224, 224, 224);
  font-size: var(--size-1);
  font-weight: 600;
  transition: background-color 0.5s ease-out ;
}

.button:hover {
  color: white;
  background-color: var(--color-primary-700);
  border: 2px solid rgb(255, 255, 255);
}
/*1.크기&넓이 2.폰트사이즈&폰트 3.색상*/